.inputfield {
  background-color: var(--Box-BGC);
  width: 650px;
  margin: 25px 0px;
  padding: 5px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 767px) /*Mobile*/ {
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
