.error {
  color: rgb(218, 0, 0);
  font-weight: bold;
  padding: 5px 0px;
}

.hide {
  display: none;
}

.verifyer {
  width: 90%;
  max-width: 650px;
}

.danger {
  background-color: #03dac6;
  color: black;
  border: solid 1px #cf6679;
  padding: 20px;
  transition: 2s;
  text-align: center;
  font-size: 2rem;
}

.success {
  background-color: #03dac6;
  color: black;
  border: solid 1px #03dac6;
  padding: 10px;
  transition: 2s;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.warning {
  background-color: rgb(255, 200, 80);
  color: black;
  border: solid 1px orange;
  padding: 20px;
  transition: 2s;
}

.information {
  background-color: rgb(108, 238, 255);
  color: black;
  border: solid 1px blue;
  padding: 20px;
  transition: 2s;
}
