header {
  background-color: var(--Header-BGC);
}
.header {
  min-height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.headerUL {
  display: flex;
}
.headerUL__li,
.hamburgerUL__li {
  list-style: none;
}
.headerUL__li--a,
.hamburgerUL__li--a {
  color: var(--Text-color);
  text-decoration: none;
  font-family: 'Karla', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
}
.headerUL__li--a {
  margin-left: 10px;
}
.headerActive {
  color: var(--Emphasys-color);
}

.fa-bars,
.fa-window-close {
  font-size: 2rem;
  position: absolute;
  top: 30px;
  right: 40px;
}
.hamburgerBtn {
  display: none;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 767px) /*Mobile*/ {
  nav {
    display: none;
  }
  .hamburgerBtn {
    display: block;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
