.mainIndex {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  justify-content: space-between;
}
.homeLeft {
  width: 60%;
}
.homeRight {
  display: flex;
  align-items: center;
}
.homeLeft__header {
  font-size: 2rem;
}
.homeLeft__Icons {
  display: flex;
  padding: 5px;
}
.homeLeftIcons {
  padding: 25px 0px;
}
.indexIcons {
  color: var(--Emphasys-color);
  font-size: 4rem;
  margin-right: 30px;
}
.homeLeft__intro--p {
  max-width: 650px;
  padding-bottom: 25px;
  font-size: 1.5rem;
  margin-right: 25px;
}

.homeRight__img {
  width: 450px;
  height: 600px;
  background-image: url(/img/avataaars.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 880px) /*Small-Tablet*/ {
  .homeLeft__intro--p {
    margin-right: 0px;
  }
  .mainIndex {
    flex-direction: column;
    align-items: center;
  }
  .homeRight__img {
    float: none;
    margin: auto;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .mainIndex {
    width: 100%;
  }

  .homeLeft {
    min-width: none;
    width: 90%;
  }
  .homeRight {
    width: 100%;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
  .homeRight__img {
    width: 100%;
    height: 500px;
  }
}
