.projMain {
  width: 100%;
}
.projH1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 4rem;
}
.loading {
  display: flex;
  justify-content: center;
}
.proContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
.proCard {
  display: flex;
  background-color: var(--Box-BGC);
  width: 700px;
  min-height: 300px;
  padding: 20px;
  margin: 20px 20px;
}
.proCard__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proCard__left--img {
  height: 60%;
  width: 330px;
  background-color: grey;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.projectImgPorfolio {
  background-image: url(/img/portfolio.jpg);
}
.projectImgExam {
  background-image: url(/img/proj_exam.jpg);
}
.projectImgSem1 {
  background-image: url(/img/sem_proj.jpg);
}
.projectImgHTML {
  background-image: url(/img/html_css.jpg);
}
.proCard__right--h2 {
  color: var(--Emphasys-color);
  font-size: 3rem;
}
.proCard__right--p {
  font-size: 1.25rem;
  padding-top: 10px;
}
.proCard__link {
  color: var(--Emphasys-color);
}
@media (max-width: 1600px) /*Desktop*/ {
  .proCard {
    width: 1000px;
    margin: 20px 0px;
  }
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  .proCard {
    margin: 20px 5px;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .proCard {
    flex-direction: column;
  }
  .proCard__left--img {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
  }
  .proCard__right--h2 {
    font-size: 2rem;
  }
  .proCard__right--p {
    font-size: 1.2rem;
    padding-top: 10px;
  }
}

@media (max-width: 650px) /*Small-Mobile*/ {
}
